@model PaginatedList<InvestimentoViewModel>

@{
    ViewData["Title"] = "Investimentos";
}


<div class="container p-4">
    <div class="row">
        <div class="col-md-12">
            <h3 class="p-4">Todos os investimentos</h3>
        </div>
    </div>

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success">
            @TempData["MensagemSucesso"]
        </div>
    }

    <div class="row mb-5">
        <div class="col-md-6">
            <form class="d-flex" asp-controller="Investimento" asp-action="Index">
                <input name="nomeBusca" class="form-control me-1" type="search" placeholder="Pesquisar" aria-label="Pesquisar" />
                <button class="btn btn-primary" type="submit">Pesquise por nome</button>
            </form>
        </div>
        <div class="col-md-6">
            <a asp-action="Index" class="text-dark">Voltar para lista completa</a>
        </div>
    </div>


    <div class="row mb-2">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"><a class="text-white" asp-controller="Investimento" asp-action="Index" asp-route-ordem="@ViewData["NomeOrdemParam"]">Nome</a></th>
                        <th scope="col">Tipo</th>
                        <th scope="col"><a class="text-white" asp-controller="Investimento" asp-action="Index" asp-route-ordem="@ViewData["ValorOrdemParam"]">Valor</a></th>
                        <th scope="col"><a class="text-white" asp-controller="Investimento" asp-action="Index" asp-route-ordem="@ViewData["DataOrdemParam"]">Data</a></th>
                        <th colspan="2">Ações</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var investimento in Model.Items)
                    {
                        <tr>
                            <th scope="row">@investimento.InvestimentoId</th>
                            <td>@investimento.Nome</td>
                            <td>@investimento.Tipo</td>
                            <td>@investimento.Valor</td>
                            <td>@investimento.DataInvestimento</td>
                            <td>
                                <a class="btn btn-warning"
                                   asp-controller="Investimento"
                                   asp-action="Editar"
                                   asp-route-id="@investimento.InvestimentoId">Editar</a>

                                <a class="btn btn-danger"
                                   asp-controller="Investimento"
                                   asp-action="Deletar"
                                   asp-route-id="@investimento.InvestimentoId"
                                   onclick="return confirm('Tem certeza que quer deletar esse investimento?')">Deletar</a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

    @* Paging *@
    <div class="row">
        <div class="col-md-6">

        </div>

        <div class="col-md-6">
            <nav>
                <ul class="pagination justify-content-end">
                    <li class="page-item @(Model.PageIndex == 1 ? "disable" : "")">
                        <a class="page-link text-black" asp-route-numeroPagina="1">
                            <span>Primeira</span>
                        </a>
                    </li>

                    <li class="page-item @(Model.HasPreviousPage ? "" : "disable")">
                        <a class="page-link text-black" asp-route-numeroPagina="(@Model.PageIndex - 1)">
                            <span>Anterior</span>
                        </a>
                    </li>

                    @for (int i = 1; i <= Model.TotalPages; i++)  
                                       {  
                                           <li class="page-item @(Model.PageIndex == i ? "active text-white" : "")">  
                                               <a class="page-link text-black" asp-route-numeroPagina="@i">@i</a>  
                                           </li>  
                                       }

                    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                        <a class="page-link text-black" asp-route-numeroPagina="@(Model.PageIndex + 1)">
                            <span>Próximo</span>
                        </a>
                    </li>

                    <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disable" : "")">
                        <a class="page-link text-black" asp-route-numeroPagina="@Model.TotalPages">
                            <span>Último</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>

    </div>
</div>